body {
    font-family: Segoe UI, Arial, sans-serif;
    margin: 0;
    background: #1e1e1e;
    color: #ddd;
    padding-top: 64px;
}

main {
    max-width: 80%;
    margin: 1.2rem auto;
    padding: 0 1rem;
}

/* Header */
.site-header {
    background: #181818;
    border-bottom: 1px solid #aaaaaa;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.brand {
    font-weight: 700;
    color: #c31515;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav {
    display: flex;
    gap: 1rem;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.nav a {
    display: inline-block;
    padding: 0.5rem 0.6rem;
    color: #c31515;
    border-radius: 6px;
    text-decoration: none;
}

.nav a:hover {
    background: #343434;
}


.nav-toggle-checkbox {
    position: absolute;
    left: -9999px;
}

.nav-toggle {
    display: none;
    background: transparent;
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #bbc;
    margin: 0;
}

.active {
    border: 2px solid #343434;
}

/* Footer */
.site-footer {
    background: #3c3c3c;
    border-top: 1px solid #bbc;
    color: #bbb;
    padding: 1rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}

.site-footer .container {
    display: block;
    text-align: center;
    height: 220px;
}

.impressum {
    color: #bbb;
}